Repository colincode7/create-t3-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add deployment strategy to generated README (#258)
  README.md
  template/base/README.md
Due: prettier --write

docs: add instructions on building docker image to readme (#265)
  template/base/README.md
Due: prettier --write

docs: small adjustments (#266)
  template/base/README.md
Due: prettier --write

feat: set appName to directory on 'npx create-t3-app .' (#273)
  src/utils/parseNameAndPath.ts
Due: prettier --write, eslint --fix

fix(prisma): make db changes for next-auth on mysql obvious (#275)
  template/addons/prisma/auth-schema.prisma
Due: none

chore(release): 5.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: make session.user.id non-nullable (#282)
  template/addons/next-auth/next-auth.d.ts
Due: none

chore(release): 5.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update tRPC v10 docs link (#291)
  README.md
Due: prettier --write

fix: change ! reversion to equality in env validation (#293)
  template/base/src/env/client.mjs
  template/base/src/env/server.mjs
Due: none

feat: Include ct3a version as metadata in generated app (#305)
  src/index.ts
Due: prettier --write, eslint --fix

fix: parse path returned from process.cwd() before using it (#303)
  src/utils/parseNameAndPath.ts
Due: prettier --write, eslint --fix

chore(release): 5.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: upload T3 logo to github (#311)
  README.md
Due: prettier --write

chore: ignore package-lock (#315)
  .gitignore
Due: none

chore: Publish Workflow and other Github enhancements (#308)
  .changeset/README.md
  .changeset/config.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/changeset-version.js
  .github/labeler.yml
  .github/pull_request_template.md
  .github/version-script.js
  .github/workflows/PR-CI.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/prerelease.yml
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  template/page-studs/_app/with-auth-trpc.tsx
  template/page-studs/_app/with-trpc.tsx
Due: prettier --write

chore(ci): dont use reserved word `package`
  .github/version-script.js
Due: none

chore(ci): require -> import
  .github/version-script.js
Due: none

chore(ci): authenticate to npm
  .github/workflows/prerelease.yml
Due: none

chore: update pr-template
  .github/pull_request_template.md
Due: prettier --write

chore(ci): next-release
  .github/version-script-beta.js
  .github/version-script-next.js
  .github/workflows/nextrelease.yml
  package.json
Due: prettier --write

chore(ci): release workflow
  .github/workflows/release.yml
Due: none

chore(ci): update scrips
  .github/version-script-beta.js
  .github/version-script-next.js
Due: none

chore(ci): update release versioning
  .github/changeset-version.js
Due: none

chore(ci): update versioning scripts
  .github/version-script-beta.js
  .github/version-script-next.js
Due: none

chore(ci): fix no-bin error
  .github/workflows/release.yml
Due: none

feat: add base tslint (#317)
  .changeset/nervous-chefs-tie.md
  template/addons/prisma/client.ts
  template/base/.eslintrc.json
  template/base/package.json
Due: prettier --write

chore(ci): test changeset with npx
  .github/workflows/release.yml
Due: none

chore(ci): test npm
  .github/changeset-version.js
Due: none

chore(ci): give proper commit message and title
  .github/workflows/release.yml
Due: none

chore(release): remove standard-version msg from changelog
  CHANGELOG.md
Due: prettier --write

chore(release): version packages (#319)
  .changeset/nervous-chefs-tie.md
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): public access
  .changeset/config.json
Due: prettier --write

chore: set type module
  package.json
Due: prettier --write

fix: typo in pub-script
  package.json
Due: prettier --write

fix: create npmrc in cli pkg
  .github/workflows/prerelease.yml
Due: none

fix: path in version script
  .github/version-script-beta.js
  .github/version-script-next.js
Due: none

fix: npmrc path in ci
  .github/workflows/nextrelease.yml
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.{json,md,mdx})
  eslint --fix: any of: src/**/*.{ts,tsx}
