Repository colincode7/create-t3-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,mdx}": [
    "prettier --write"
  ]
}

fix: move gitignore rename call (#215)
  src/helpers/initGit.ts
  src/helpers/scaffoldProject.ts
Due: prettier --write, eslint --fix

feat: add trpc inference helpers
  template/addons/trpc/utils.ts
Due: none

fix(#218): lock react-query to v3
  src/installers/trpc.ts
Due: prettier --write, eslint --fix

chore(release): 5.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add missing trpc import
  template/addons/trpc/utils.ts
Due: none

chore(release): 5.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: handle pkg with version in noInstall mode (#220)
  src/utils/runPkgManagerInstall.ts
Due: prettier --write, eslint --fix

fix: typo in readme
  README.md
Due: prettier --write

feat: add db.sqlite-journal to gitignore (#221)
  template/base/_gitignore
Due: none

fix: typo - rename 'varibles' to 'variables' (#223)
  src/cli/index.ts
  src/installers/envVars.ts
  src/installers/index.ts
Due: prettier --write, eslint --fix

fix: missing DATABASE_URL (#222)
  .github/workflows/PR-CI.yml
  src/installers/envVars.ts
  template/addons/prisma/schema.prisma
  template/base/.env-example
Due: prettier --write, eslint --fix

chore(release): 5.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update url in auth prisma schema
  template/addons/prisma/auth-schema.prisma
Due: none

chore(release): 5.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add typesafe client side env variables (#209)
  src/installers/envVars.ts
  template/addons/env/env-auth.mjs
  template/addons/env/env-prisma.mjs
  template/addons/next-auth/api-handler-prisma.ts
  template/addons/next-auth/api-handler.ts
  template/addons/prisma/client.ts
  template/base/next.config.mjs
  template/base/src/env/client-env.mjs
  template/base/src/env/env-schema.mjs
  template/base/src/env/server-env.mjs
  template/base/src/server/env-schema.mjs
  template/base/src/server/env.mjs
Due: prettier --write, eslint --fix

fix: title being offset when using yarn/pnpm
  src/utils/renderTitle.ts
Due: prettier --write, eslint --fix

chore(release): bump beta version
  package.json
Due: prettier --write

chore: bump Next.js to 12.2.3
  template/base/next.config.mjs
  template/base/package.json
Due: prettier --write

feat: improved logo typography (#238)
  package.json
  pnpm-lock.yaml
  src/consts.ts
  src/utils/renderTitle.ts
Due: prettier --write, eslint --fix

chore: bump beta version
  package.json
Due: prettier --write

fix: remove semicolon in _app.tsx with next-auth to avoid early return
  template/page-studs/_app/with-auth.tsx
Due: none

chore: add protected trpc router example (#194)
  src/installers/trpc.ts
  template/addons/trpc/auth-index-router.ts
  template/addons/trpc/auth-router.ts
  template/addons/trpc/protected-example-router.ts
  template/addons/trpc/protected-router.ts
Due: prettier --write, eslint --fix

chore: add link to community (#229)
  README.md
Due: prettier --write

docs(readme): add usage for beta and next version (#243)
  README.md
Due: prettier --write

chore: add js files to format script (#244)
  package.json
  template/addons/env/env-auth.mjs
  template/addons/env/env-prisma-auth.mjs
  template/addons/env/env-prisma.mjs
  template/addons/tailwind/postcss.config.js
  template/base/src/env/client-env.mjs
  template/base/src/env/env-schema.mjs
  template/base/src/env/server-env.mjs
Due: prettier --write

chore: remove credentials provider (#246)
  template/addons/next-auth/api-handler-prisma.ts
  template/addons/next-auth/api-handler.ts
Due: none

refactor(cli): add module path aliasing (#247)
  src/cli/index.ts
  src/helpers/createProject.ts
  src/helpers/initGit.ts
  src/helpers/installPackages.ts
  src/helpers/logNextSteps.ts
  src/helpers/scaffoldProject.ts
  src/helpers/selectBoilerplate.ts
  src/index.ts
  src/installers/envVars.ts
  src/installers/index.ts
  src/installers/next-auth.ts
  src/installers/prisma.ts
  src/installers/tailwind.ts
  src/installers/trpc.ts
  src/utils/getT3Version.ts
  src/utils/renderTitle.ts
  src/utils/runPkgManagerInstall.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: updating tailwind and postcss config's to use .cjs (#242)
  src/installers/tailwind.ts
  template/addons/tailwind/postcss.config.cjs
  template/addons/tailwind/tailwind.config.cjs
Due: prettier --write, eslint --fix

fix: clarify some comments and rename some files in env (#245)
  src/installers/envVars.ts
  template/addons/env/auth-prisma-schema.mjs
  template/addons/env/auth-schema.mjs
  template/addons/env/env-auth.mjs
  template/addons/env/env-prisma-auth.mjs
  template/addons/env/env-prisma.mjs
  template/addons/env/prisma-schema.mjs
  template/addons/next-auth/api-handler-prisma.ts
  template/addons/next-auth/api-handler.ts
  template/addons/prisma/client.ts
  template/base/next.config.mjs
  template/base/src/env/client.mjs
  template/base/src/env/env-schema.mjs
  template/base/src/env/schema.mjs
  template/base/src/env/server.mjs
Due: prettier --write, eslint --fix

fix: added JSDoc type to clientEnv in all env-schema (#240)
  template/addons/env/auth-prisma-schema.mjs
  template/addons/env/auth-schema.mjs
  template/addons/env/prisma-schema.mjs
  template/base/src/env/schema.mjs
Due: none

chore(release): 5.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(utils): remove unnecessary block (#252)
  src/utils/getUserPkgManager.ts
Due: prettier --write, eslint --fix

chore: update favicon (#253)
  template/base/public/favicon.ico
Due: none

fix: missing next-auth types (#255)
  template/addons/next-auth/next-auth.d.ts
Due: none

fix: height on small screens (#256)
  template/page-studs/index/with-auth-trpc-tw.tsx
  template/page-studs/index/with-trpc-tw.tsx
  template/page-studs/index/with-tw.tsx
Due: none

docs: expand t3-app README (#248)
  template/base/README.md
Due: prettier --write

revert: extend regular next-auth module (#257)
  src/installers/next-auth.ts
  template/addons/next-auth/next-auth.d.ts
Due: prettier --write, eslint --fix
